body {
    background-color: rgba(0, 191, 255, .5);
}
.textArea {
    width: 500px;
    height: 250px;
    background-color: rgba(0, 191, 255, .5);
    margin: 250px auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.textArea input{
    position: relative;
    left: 150px;
    top: 35px;
    background-color: rgba(135, 206, 250, 0.3);
    border-color: gray;
    color: white;

}

.textArea input::selection{
    background: rgba(0, 191, 255, 0.5);
}

.textArea input[type=button]{
    top: 42px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.textArea p{
    font-size: 25px;
    color: White;
    text-align: center;
    position: relative;
    top: 25px;
}